*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Styling   */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn-primary{
    background-color: #FF5959;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.5s all ease;
}
.btn-primary:hover{
    transform: scale(1.2);
    border: 2px solid aliceblue;
    transition: 0.5s all ease;
}
.center{
    text-align: center;
}
.dark-1{
    color: #707070;
}
/* Banner Stylin  */
.banner{
    width: 100%;
    min-height: 650px;
    background-image: url("photos/donation0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    /* border: 2px solid ;
} */
}
.banner-container{
    z-index: 1;
    width:100%;
    min-height: 650px;
    background-color: rgba(0, 0, 0, 0.452);
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content{
    max-width: 820px;
    max-height: 300px;
    /* border: 2px solid black; */
    color: white;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}
.banner-content-title{
    font-size: 65px;
    font-weight: bold;
}
/* Section-Donate-Today  */
.donate-today{
    max-width: 780px;
    margin: 140px auto 140px;
    height: auto;
    /* border: 2px solid rgb(199, 45, 45); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: aliceblue;
    padding: 40px;
}
.donate-today-title{
    font-size: 45px;
    font-weight: bold;
}
.donation-quantity-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.box{
    height: 120px;
    width: 130px;
    background-color: rgb(210, 232, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);
    font-weight: bold;
}
.horizontal{
    height: 2px;
    width: 100%;
    border-bottom: 2px solid #707070;
}

/* Donate-paln  */
.our-donate-plan{
    max-width: 1140px;
    height: auto;
    /* border: 2px solid black; */
    margin: 140px auto 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.donate-today-description{
    max-width: 600px;
    height: auto;
    text-align: center;
    display: grid;
}
.container{
    min-height: 350px;
    max-width: 360px;
    /* border: 2px solid black; */
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    background-color: rgba(79, 157, 166, 0.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}
.donate-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px;
}
.cn-2{
    background-color: rgba(255, 89, 89, 0.1);
}
.cn-3{
    background-color: rgba(255, 255, 0, 0.178);
}
/* Condition-section  */
.condition{
    max-width: 1140px;
    height: auto;
    /* border: 2px solid black; */
    margin: 140px auto 140px;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
}
.condition-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 20px;
}
.condition-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    gap: 20px;

}
/* .condition-image{
    align-items: center;
    border: 2px solid red;
} */

/* Responsive  */
@media screen and (max-width:576px){
    .donation-quantity-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .donate-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .condition-box{
        flex-direction: column;
    }
    .condition-image > img{
        height: 200px;
    }
}

@media screen and (min-width:577px) and (max-width: 992px) {
    .donation-quantity-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .donate-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .donation-quantity-container{
        justify-items: center;
    }
    .condition-box{
        flex-direction: column;
    }
    
}